<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="css/google.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        var msg = "[[${msg}]]";
        console.log(msg);
        console.log('찍히나');
        if (msg != null && msg.length > 0) {
            alert(msg);
        }
    })
</script>
</head>
<body>
<div class="box">
    <div class="logo">

    </div>
    <h2>Sign In</h2>
    <p></p>
    <form action ="/login" method="post">
        <div class="inputBox">
            <input type="text" name="username" id="username" >
            <label>아이디</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" id="password" >
            <label>비밀번호</label>
        </div>
        <input type="submit" name="sign-in" value="Sign In">
    </form>
    <a href="/signUp">회원가입</a>
</div>
</body>

</html>

<!-- 제발제발 시큐리티 패스워드 name id 는 "pw" 아니고 "password" 제발 -->